
body{
	background-image:  linear-gradient(to left,yellow,lightgreen);
}
h1{
	color:red;
	font-size: 40px;
	text-align:center;
	text-shadow: 3px 3px 3px grey; 
}
.offer_detail {
	margin: 100px auto 0px auto;
	display: flex;
	justify-content: space-around;
	}	


.box1, .box2, .box3{ 
	border-radius: 20px;            
	background-image: linear-gradient(	#FF9900,#FFCC33);
	padding-right: 40px;
	box-shadow: 10px 10px 10px  ;
}
   

.box1 >h1, .box2 >h1, .box3 >h1{
	color: #000;
	text-shadow: 2px 2px 2px grey;
	text-align: center;

}

.box1 >button, .box2 >button, .box3 >button{
	font-size: 20px;
	border-radius: 20px;
	border:none;	
	background-color: 	#696969;
	margin-left:90px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px 	 black inset;
}
.box1 >button:hover, .box2 >button:hover, .box3 >button:hover{
	border-color: brown;
	background-color:	#C0C0C0;

}

ul{
	color: #ff2500;
	font-size: 30px;
	text-shadow: 2px 2px 2px  grey;
}
a{
	color:white;
}
a:hover{
	color: black;
}