@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-image: linear-gradient(to left,#330570,#590FAE);
    color:#f2f2f2;
    font-family: Montserrat, sens-serif;

}

.Nav_Bar{
    ;
    font-size: 15px;    
    display:flex;
    justify-content: flex-start;
}
.Nav_Bar >div{
    margin: auto 10px;
}

.Main1{ 
    ;
    font-size:170px;
    text-align: center;
    margin-bottom: -100px;
    text-shadow: 6px 6px 4px black;
    transform: translateY(-110px);
    animation: mymoves 700ms infinite;
}
@keyframes mymoves{
    0%      {color:#fff;}
    50%     {color:#7f7f7f}
    100%    {color: #4c4c4c;}
}


.Main1 + p{

    font-size: x-large;
    text-align: center;
    transform:translateY(-200px);
    
}

.Home{
    max-height: 50px;
    max-width: 10%;
    border: 2px solid ;
    border-radius: 40px;
    text-align: center;
    transform: translate(600px,-210px);
}





footer{
   text-align: end;   
}